<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='/../css/styles.css'>
    <title>Authors</title>
  </head>
  <body>
    <div class='container-fluid'>

      <!-- PAGE BANNER -->
      <div class='page-header'>
        <h1></h1>
        <h5>sweet catalog-ing</h5>
      </div>

      {% if authors is not empty %}
        <h3>Authors</h3>
        {% for i in 0..authors|length - 1 %}
          <ul>
            <li>
              <form action='/authors_pure/{{ authors[i].getId }}' method='post' class='inlineForm'>
                <input name='_method' type='hidden' value='delete'>
                <input type='submit' class='deleteLink' value='x'>
              </form>
              <a href='/authors/{{ authors[i].getId }}/edit'>{{ authors[i].getName }}</a>, author of
              {{ books[i]|length > 1 ? 'books' : 'book' }}
              {% for j in 0..books[i]|length - 1 %}
                [{{ books[i][j].getTitle }}]
              {% endfor %}

            </li>
          </ul>
        {% endfor %}
      {% else %}
        <h3>You have no Authors fool!</h3>
      {% endif %}

      <a href='/'>Homie</a>
    </div>
  </body>
</html>
