<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='/../css/styles.css'>
    <title>Library Catalog</title>
  </head>
  <body>
    <div class='container-fluid'>

      <!-- PAGE BANNER -->
      <div class='page-header'>
        <img src='/img/fakeu.png' alt='university logo'>
        <div class='logo-words'>
          <h1>Library Catalog</h1>
          <h5>sweet Catalog-ing</h5>
        </div>
      </div>

      <h1>{{ book.getTitle }}</h1>

      {% if authors is not empty %}
        <p>Here are the Authors:</p>
        <ul>
          {% for author in authors %}
            <li>
              <form action='/authors/{{ author.getId }}' method='post' class='inlineForm'>
                <input name='_method' type='hidden' value='delete'>
                <input id='book_id' name='book_id' type='hidden' value='{{ book.getId }}'>
                <input type='submit' class='deleteLink' value='x'>
              </form>
              {{ author.getName }}
              </li>
          {% endfor %}
        </ul>
      {% endif %}

      <h4>Add a Author</h4>

      <form action='/authors' method='post'>
        <input id='book_id' name='book_id[]' type='hidden' value='{{ book.getId }}'>
        <div class='form-group'>
          <label for='name'>Author name:</label>
          <input id='name' name='name' class='form-control' type='text' required>
        </div>

        <button type='submit' class='btn btn-success'>Add Author</button>
      </form>
      <form action='/books/{{ book.getId }}' method='post'>
        <input name='_method' type='hidden' value='delete'>

        <button type='submit' class='btn btn-danger'>Delete Book</button>
      </form>
      <p><a href='/book/{{ book.getId }}/edit'>Edit this Book</a></p>
      <p><a href='/'>Home</a></p>

    </div>
  </body>
</html>
